<div class="container">
  <div class="jumbotron">
    <h1>
      <span class="peg r">Q</span>
      <span class="peg g">U</span>
      <span class="peg y">I</span>
      <span class="peg g">Z</span>
      <span class="peg r">Z</span>
    </h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris enim enim, molestie ac tellus non, hendrerit interdum eros. Duis blandit sodales risus ut consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget libero blandit, congue mauris non, auctor dolor. Praesent sed pharetra nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut luctus quam eu maximus aliquet.</p>
    <button (click)="onJogar()" mat-raised-button color="primary">Jogar</button>
  </div>
  <div class="footer">
    <p>&copy; Roosevelt e Manuel</p>
  </div>
</div>
