<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizz</title>
  </head>
  <body>
    <p>
      <mat-toolbar color="primary">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onPerfil()">
            <mat-icon>person</mat-icon> Perfil
          </button>
          <button mat-menu-item>
            <mat-icon>logout</mat-icon> Logout
          </button>
        </mat-menu>
        <span>Quizz</span>
        <span class="example-spacer"></span>
      </mat-toolbar>
    </p>
    <router-outlet></router-outlet>
  </body>
</html>
