<div class="centro">
  <mat-card class="card">
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item *ngFor='let pergunta of perguntas | async'>
        {{pergunta.descricao}} </mat-list-item>
    </mat-list>
  </mat-card-content>
  </mat-card>
  </div>
  <div class="button">
    <button mat-raised-button color="primary">1</button>
    <button mat-raised-button color="primary">2</button>
    <button mat-raised-button color="primary">3</button>
    <button mat-raised-button color="primary">4</button>
  </div>
